$theme: (
  dark: (
    main-color: #ff0000,
    control-color: #3ea6ff,
    base-background: #0f0f0f,
    scrollbar-thumb: #a1a1a1,
    scrollbar-thumb-hover: #5c5c5c,
    main-font: #fff,
    sub-font: #bababa,
    button-background: #222222,
    button-icon: #979797,
    input-border: #2e2e2e,
    input-border-focus: #1c62b9,

    icon-btn-background: #a1a1a140,
    icon-btn-background-active: #a1a1a160,
  ),
  light: (
    main-color: #ff0000,
    control-color: #3ea6ff,
    base-background: #fff,
    scrollbar-thumb: #a1a1a1,
    scrollbar-thumb-hover: #5c5c5c,
    main-font: #0f0f0f,
    sub-font: #bababa,
    button-background: #222222,
    button-icon: #979797,
    input-border: #2e2e2e,
    input-border-focus: #1c62b9,

    icon-btn-background: #a1a1a140,
    icon-btn-background-active: #a1a1a160,
  ),
);
