@import "@/app/styles/mixin.scss";

.sidebar {
  position: sticky;
  top: 56px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100dvh - 76px);
  padding-block: 10px;
  white-space: nowrap;
  overflow: hidden;

  @include mobile {
    display: none;
  }
  &.close {
    width: 85px;
    li {
      display: block;
      padding: 9px 3px;
      text-align: center;
      .link-div {
        margin-top: 5px;
      }
      a {
        margin-left: 0;
      }
    }
    footer {
      display: none;
    }
  }
  &.open {
    width: 280px;
  }

  nav {
    padding-inline: 10px;

    li {
      display: flex;
      cursor: pointer;
      padding: 9px 20px;
      list-style-type: none;
      border-radius: 10px;
      margin-bottom: 5px;

      &:hover {
        @include dark-theme {
          &:hover {
            background-color: get-dark-color(icon-btn-background);
          }
        }
        @include light-theme {
          &:hover {
            background-color: get-light-color(icon-btn-background);
          }
        }
      }
      &.active {
        @include dark-theme {
          background-color: get-dark-color(icon-btn-background);
        }
        @include light-theme {
          background-color: get-light-color(icon-btn-background);
        }
      }

      svg {
        width: 20px;
      }

      a {
        font-size: 14px;
        font-weight: 300;
        text-decoration: unset;
        margin-left: 20px;
        @include dark-theme {
          color: get-dark-color(main-font);
        }
        @include light-theme {
          color: get-light-color(main-font);
        }
      }
    }
  }

  hr {
    opacity: .3;
    margin-block: 5px;
  }

  footer {
    padding-inline: 10px;
    .other-links {
      white-space: initial;
      padding-block: 10px;
      .other-link {
        white-space: nowrap;
        a {
          padding-inline: 3px;
          font-size: 14px;
          font-weight: 400;
          opacity: .5;
          text-decoration: unset;
          @include dark-theme {
            color: get-dark-color(main-font);
          }
          @include light-theme {
            color: get-light-color(main-font);
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .copyright {
      text-align: left;
      opacity: .5;
      font-size: 12px;
    }
  }
}