$theme: (
  dark: (
    base-background: #0f0f0f,
    scrollbar-thumb: #a1a1a1,
    scrollbar-thumb-hover: #5c5c5c,
    main-font: #fff,
    button-background: #222222,
    button-icon: #979797,
    input-border: #2e2e2e,
    input-border-focus: #1c62b9,

    icon-btn-background: #a1a1a140
  ),
  light: (
    base-background: #fff,
    scrollbar-thumb: #a1a1a1,
    scrollbar-thumb-hover: #5c5c5c,
    main-font: #0f0f0f,
    button-background: #222222,
    button-icon: #979797,
    input-border: #2e2e2e,
    input-border-focus: #1c62b9,

    icon-btn-background: #a1a1a140
  )
)