@import "@/app/styles/mixin.scss";

.icon-button {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border-radius: 100%;
  border: unset;
  outline: unset;
  @include dark-theme {
    color: get-dark-color(main-font);
    &:hover {
      background-color: get-dark-color(icon-btn-background);
    }
  }
  @include light-theme {
    color: get-light-color(main-font);
    &:hover {
      background-color: get-light-color(icon-btn-background);
    }
  }
}